body {
    margin: 50px 0 0 0;
    padding: 0;
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    color: #aaa;
    font-size: 18px;
}

h1 {
    color: #719e40;
    letter-spacing: -3px;
    font-family: 'Lato', sans-serif;
    font-size: 100px;
    font-weight: 200;
    margin-bottom: 0;
}

.ui.icon.input input {
    min-width: 20rem;
}
.ui.icon.input button {
    min-width: 5rem;
    margin-left: 2rem;
}
.ui.icon.input i {
    margin: auto;   
}

.cards-container { margin-top: 5vh; }
.card{
    border-radius: 5px;
    background-color: #ccc;
    text-align: left;
    margin-top: 1.5rem;
}
.card .top-heading {
    padding: 1.5rem 0.5rem;
    background-color: #2185D0;
    color: #fff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px; 
}
.card h2 { color: #fff; }
.content { padding: 1.5rem 2.3rem; }
.content .rt { margin-top: 1rem; }